@import "./reset.css";

:root {
  --text: #6b6375;
  --text-h: #1a1a1a;
  --text-g: #abb0bb;
  --text-highlight: #4cd0fd;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  /* --button-main: #f82c56; */
  /* --button-main-border: #f82c56; */
  --button-main: #ac072a;
  --button-main-border: #ac072a;

  --button-second: #feec48;
  --button-second-deep: #fddb0d;
  --button-second-border: #e6c202;
  --button-second-gradient: radial-gradient(
    circle,
    var(--button-second) 0%,
    var(--button-second-deep) 100%
  );

  --table-bg-color: #1b1e29;
  --table-bg-td-color: #151821;
  --table-border-color: #262a35;

  --our-history-bg: #1e1116;
  --our-history-from: #1e1116;
  --our-history-mid: #18161c;
  --our-history-to: #121c22;
  --our-history-gradient: linear-gradient(
    325deg,
    var(--our-history-from) 0%,
    var(--our-history-mid) 49%,
    var(--our-history-to) 100%
  );
  --our-contacs-gradient: linear-gradient(
    130deg,
    var(--our-history-from) 0%,
    var(--our-history-mid) 49%,
    var(--our-history-to) 100%
  );

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --text-h: #1a1a1a;
    --text-g: #abb0bb;
    --text-highlight: #4cd0fd;
    --bg: #0e0e13;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

    /* --button-main: #f82c56; */
    /* --button-main-border: #f82c56; */
    --button-main: #ac072a;
    --button-main-border: #ac072a;

    --button-second: #feec48;
    --button-second-deep: #fddb0d;
    --button-second-border: #e6c202;
    --button-second-gradient: radial-gradient(
      circle,
      var(--button-second) 0%,
      var(--button-second-deep) 100%
    );

    --table-bg-color: #1b1e29;
    --table-bg-td-color: #151821;
    --table-border-color: #262a35;

    --our-history-bg: #1e1116;
    --our-history-from: #1e1116;
    --our-history-mid: #18161c;
    --our-history-to: #121c22;
    --our-history-gradient: linear-gradient(
      325deg,
      var(--our-history-from) 0%,
      var(--our-history-mid) 49%,
      var(--our-history-to) 100%
    );
    --our-contacs-gradient: linear-gradient(
      130deg,
      var(--our-history-from) 0%,
      var(--our-history-mid) 49%,
      var(--our-history-to) 100%
    );
  }
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text);
}

h1 {
  font-size: 57px;
  line-height: 1;
  letter-spacing: -1.18px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.button {
  border: 2px solid;
  border-radius: 10px;
  font-weight: 700;
  font-size: 13px;
  padding: 4px 16px;
  letter-spacing: -0.3px;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.button--main {
  color: var(--text);
  border-color: var(--button-main);
  background: var(--button-main);
}

.button--second {
  color: var(--text-h);
  border-color: var(--button-second-border);
  background: var(--button-second-gradient);
  text-transform: uppercase;
}

.button--large {
  padding: 11px 18px;
  font-size: 18px;
  letter-spacing: 0.7px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-highlight {
  color: var(--text-highlight);
  font-weight: 900;
}

#about,
#concerts,
#gallery,
#contacts {
  scroll-margin-top: 70px;
}

/* Header */
.site-header {
  position: sticky;
  top: 0;

  background-color: var(--bg);
  z-index: 1000;
}

.site-header__content {
  width: 100%;
  min-height: 70px;
  max-width: 1452px;
  margin: 0 auto;
  padding: 22px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo {
  margin-left: 6px;
  font-size: 17px;
  font-weight: 900;
}

.site-header__nav {
  position: fixed;
  top: 70px;
  left: -100%;
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
  background-color: var(--bg);

  &.active {
    left: 0;

    @media (min-width: 640px) {
      left: initial;
    }
  }

  @media (min-width: 640px) {
    position: static;
    width: auto;
    height: auto;
    gap: initial;
  }
}

@media (min-width: 640px) {
  #close-icon,
  #menu-icon {
    display: none;
  }
}

.site-header__nav {
  ul {
    display: flex;
    flex-direction: column;
    gap: 23px;

    li {
      text-align: center;

      a {
        font-size: 20px;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
          color: var(--text-highlight);
        }

        @media (min-width: 640px) {
          font-size: 16px;
        }
      }
    }

    @media (min-width: 640px) {
      flex-direction: row;
    }
  }
}

/* Hero */
.hero {
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero__container {
  position: relative;
  padding-top: 110px;
  padding-bottom: 125px;
  z-index: 2;
}

.hero__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__title {
  font-weight: 800;
}

.hero__subtitle {
  margin-top: 36px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -1.1px;
}

.hero__text {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.53px;
}

.hero__text--intro {
  margin-top: 35px;
}

.hero__text--secondary {
  margin-top: 15px;
}

.hero__button {
  margin-top: 41px;
}

/* Closest concert */
.concerts__table {
  width: 100%;
  margin-top: 62px;
  border: 1px solid var(--table-border-color);
  border-radius: 0 0 15px 15px;
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--table-bg-color);

  thead th {
    text-align: left;
    padding: 14px 18px;
    font-size: 16px;
    color: var(--text-g);
  }

  tbody td {
    padding: 13px 18px;
    border-top: 1px solid var(--table-border-color);
    font-size: 12px;
    background-color: var(--table-bg-td-color);

    @media (min-width: 375px) {
      font-size: 16px;
    }

    @media (min-width: 640px) {
      font-size: 16px;
    }
  }

  tbody tr:last-child td:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  @media (min-width: 768px) {
    tbody tr:last-child td:first-child {
      border-bottom-left-radius: 15px;
    }

    tbody tr:last-child td:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 15px;
    }
  }
}

.concerts__table-title {
  border: 1px solid var(--table-border-color);
  font-weight: 900;
  border-radius: 15px 15px 0 0;
  border-bottom: none;
  background-color: var(--table-bg-color);
  font-size: 25px;
  padding: 23px 23px 18px;
  text-align: left;
  letter-spacing: -0.9px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .concerts__table thead {
    display: none;
  }

  .concerts__table tr {
    display: block;
  }

  .concerts__table td {
    display: flex;
    justify-content: space-between;
  }

  .concerts__table td::before {
    content: attr(data-label);
    font-weight: bold;
  }
}

/* Our band */
.band {
  margin-top: 100px;
  margin-bottom: 40px;

  @media (min-width: 640px) {
    margin-top: 140px;
    margin-bottom: 80px;
  }
}

.band__title {
  text-align: center;
}

.band__list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  @media (min-width: 640px) {
    margin-top: 50px;
    justify-content: space-around;
  }
}

.band__item {
  border: 1px solid var(--table-border-color);
  background-color: var(--table-bg-td-color);
  border-radius: 15px;
  overflow: hidden;

  img {
    width: 297px;
    height: 222px;
    object-fit: cover;
  }

  figcaption {
    padding: 10px;
    font-size: 16px;
    color: var(--text-g);
  }
}

/* Our history */
.our-history {
  padding: 42px 0 53px;
  background: var(--our-history-bg);
  background: var(--our-history-gradient);

  @media (min-width: 920px) {
    padding: 72px 0 83px;
  }
}

.our-history__content::after {
  content: "";
  display: table;
  clear: both;
}

.our-history__img {
  float: right;
  max-width: min(42%, 450px);
  width: auto;
  height: auto;
  margin: 0 0 0.4rem 0.4rem;
}

.our-history__title {
  margin-bottom: 35px;
}

.our-history__content p {
  margin-top: 20px;
  font-size: 16px;
}

@media (max-width: 920px) {
  .our-history__img {
    float: none;
    display: block;
    max-width: 100%;
    margin: 0 0 0.4rem;
  }
}

/* Contacts */
.contacts {
  padding: 42px 0;
  background: var(--our-history-bg);
  background: var(--our-contacs-gradient);

  @media (min-width: 920px) {
    padding: 72px 0;
  }
}

.contacts__title {
  text-align: center;
}

.contacts__subtitle {
  margin-top: 20px;
  text-align: center;
}

.contacts__content {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 920px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts__form,
.contacts__location {
  flex: 1;
}

.contacts__fields-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  gap: 15px;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.contacts__field {
  flex: 1;
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-g);
    margin-bottom: 4px;
  }

  input {
    width: 100%;
    border: 2px solid var(--table-border-color);
    border-radius: 10px;
    background-color: var(--table-bg-td-color);
    padding: 6px 18px;
  }

  textarea {
    border: 2px solid var(--table-border-color);
    border-radius: 10px;
    background-color: var(--table-bg-td-color);
    padding: 6px 18px;
    min-height: 85px;
  }
}

.contacts__form .button {
  margin-top: 20px;
}

.contacts__location {
  border: 2px solid var(--table-border-color);
  background-color: var(--table-bg-td-color);
  border-radius: 15px;
  padding: 20px;
}

.contacts__location-title {
  font-style: normal;
  margin-bottom: 20px;
}

.contacts__location-map {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

/* Footer */
.footer {
  padding: 45px 0;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 640px) {
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
  }
}

.footer__copyright {
  font-size: 16px;
  color: var(--text-g);
  text-align: center;

  @media (min-width: 640px) {
    text-align: left;
  }
}

.footer__social-list a {
  font-size: 16px;
  color: var(--text-g);
}

.footer__social-list li:not(:first-child) {
  margin-inline-start: 0.3em;
}

.footer__social-list li:not(:first-child)::before {
  content: "•";
  margin-inline-end: 0.3em;
  color: var(--text-g);
  font-size: 14px;
  user-select: none;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.footer__contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media (min-width: 640px) {
  .footer__contacts-list li:not(:first-child) {
    margin-inline-start: 0.3em;
  }

  .footer__contacts-list li:not(:first-child)::before {
    content: "•";
    margin-inline-end: 0.3em;
    color: var(--text-g);
    font-size: 14px;
    user-select: none;
  }
}

.footer__social-list li,
.footer__contacts-list li {
  display: inline-flex;
  align-items: center;
}

.footer__address {
  margin-top: 40px;

  a {
    font-size: 16px;
    color: var(--text);
    font-style: normal;
    font-weight: 700;
  }
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: oklch(0.17 0.01 285.26 / 0.72);

  .popup__content {
    width: 100%;
    max-width: 450px;
    margin: 0 15px;
    position: relative;
    border: 2px solid var(--table-border-color);
    border-radius: 15px;
    background-color: var(--table-bg-color);
    padding: 70px 20px 20px;

    .sold-out-icon {
      position: absolute;
      width: 150px;
      height: 140px;
      top: -70px;
      left: calc(50% - 75px);
    }

    svg {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .sold-out-img {
      border-radius: 15px;
    }

    p {
      text-align: center;
    }

    .popup__title {
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .popup__subtitle {
      margin: 10px 0 20px;
      font-size: 16px;
    }
  }
}
